Using PySpark and Spark-SQL libraries process the given dataset in order to find out solutions
of queries mentioned below.

1. Whatâ€™s the overall minimum, maximum, and average profit from the dataset?
2. Which state has the most startups?
3. What is the average administration cost for startups in Florida?
4. How many startups are located in California?
5. Out of all startups with a profit over 100,000, how many spent less than 50,000 on marketing?
6. Remove the feature 'sl_no' and also remove rows with any null values from the DataFrame.

In [1]:
# imports
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, min, max, col

In [2]:
# 1. Stop any zombie sessions first
if 'spark' in locals():
    spark.stop()

# 2. Re-initialize a fresh session
spark = SparkSession.builder \
    .appName("StartupAnalysis") \
    .master("local[*]") \
    .getOrCreate()

# Load the dataset
df = spark.read.csv("june_2025_startups_data.csv", header=True, inferSchema=True)

# Register as a Temp View for Spark-SQL
df.createOrReplaceTempView("startups")

df.show(5)

+-----+---------+--------------+---------------+----------+---------+
|sl_no|R&D Spend|Administration|Marketing Spend|     State|   Profit|
+-----+---------+--------------+---------------+----------+---------+
|    1| 165349.2|      136897.8|       471784.1|  New York|192261.83|
|    2| 162597.7|     151377.59|      443898.53|California|191792.06|
|    3|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|    4|144372.41|     118671.85|      383199.62|  New York|182901.99|
|    5|142107.34|      91391.77|      366168.42|   Florida|166187.94|
+-----+---------+--------------+---------------+----------+---------+
only showing top 5 rows

#### 1. Whatâ€™s the overall minimum, maximum, and average profit from the dataset?

In [4]:
df.select(
    min("Profit").alias("Min_Profit"),
    max("Profit").alias("Max_Profit"),
    avg("Profit").alias("Avg_Profit")
).show()

+----------+----------+------------------+
|Min_Profit|Max_Profit|        Avg_Profit|
+----------+----------+------------------+
| 129917.04| 192261.83|159414.89533333335|
+----------+----------+------------------+

#### 2.Which state has the most startups?

In [5]:
df.groupBy("State").count().orderBy(col("count").desc()).show(1)

+----------+-----+
|     State|count|
+----------+-----+
|California|    6|
+----------+-----+
only showing top 1 row

#### 3.What is the average administration cost for startups in Florida?

In [7]:
df.filter(df.State == "Florida").select(avg("Administration")).show()

+-------------------+
|avg(Administration)|
+-------------------+
|         115196.374|
+-------------------+

#### 4. How many startups are located in California?

In [8]:
ca_count = df.filter(df.State == "California").count()
print(f"Startups in California: {ca_count}")

Startups in California: 6

#### 5.Out of all startups with a profit over 100,000, how many spent less than 50,000 on marketing?

In [9]:
efficient_startups = df.filter((col("Profit") > 100000) & (col("Marketing Spend") < 50000))
print(f"Efficient Startups: {efficient_startups.count()}")

Efficient Startups: 1

#### 6. Remove the feature 'sl_no' and also remove rows with any null values from the DataFrame.

In [10]:
df_cleaned = df.drop("sl_no").dropna()
df_cleaned.show(5)

+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
+---------+--------------+---------------+----------+---------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
+---------+--------------+---------------+----------+---------+
only showing top 5 rows

Using Spark ML libraries process the Dataframe as questioned below.
1. Use StringIndexer to replace all string-type columns with numerical representations. Confirm the DataFrame no longer has any columns with string data types.
2. Using VectorAssembler, combine all columns (except target column i.e., Profit) into a single column named features. Ensure the DataFrame now has only two columns: features and Profit.
3. Split the vectorized DataFrame into training and test sets with one-fourth records held for testing.
4. Build a LinearRegression model on the train set using featuresCol="features" and labelCol="Profit"
5. Perform prediction on the test data and print the Mean Squared Error (MSE) value.
6. Calculate the Root Mean Squared Error (RMSE) for the predictions made by the linear regression model on the test data.

In [11]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator

In [12]:
# 1. Stop any zombie sessions first
if 'spark' in locals():
    spark.stop()

# 2. Re-initialize a fresh session
spark = SparkSession.builder \
    .appName("StartupAnalysis") \
    .master("local[*]") \
    .getOrCreate()

# Load the dataset
df = spark.read.csv("june_2025_startups_data.csv", header=True, inferSchema=True)

In [13]:
# Pre-cleaning: Remove 'sl_no' and null values
df_cleaned = df.drop("sl_no").dropna()

# 1. Use StringIndexer to replace string columns with numerical representations
indexer = StringIndexer(inputCol="State", outputCol="State_Index")
df_indexed = indexer.fit(df_cleaned).transform(df_cleaned)

In [14]:
# Confirming no columns with string data types (we drop the original 'State' column)
df_final = df_indexed.drop("State")
df_final.printSchema() 
# Confirm: Only numeric (double/int) and Vector types remain.

root
 |-- R&D Spend: double (nullable = true)
 |-- Administration: double (nullable = true)
 |-- Marketing Spend: double (nullable = true)
 |-- Profit: double (nullable = true)
 |-- State_Index: double (nullable = false)

In [15]:
# 2. VectorAssembler to combine feature columns (except Profit)
# Feature columns include: RD_Spend, Administration, Marketing_Spend, State_Index
feature_cols = [col for col in df_final.columns if col != "Profit"]
assembler = VectorAssembler(inputCols=feature_cols, outputCol="features")

# Select only 'features' and 'Profit'
df_vectorized = assembler.transform(df_final).select("features", "Profit")
df_vectorized.show(5)

+--------------------+---------+
|            features|   Profit|
+--------------------+---------+
|[165349.2,136897....|192261.83|
|[162597.7,151377....|191792.06|
|[153441.51,101145...|191050.39|
|[144372.41,118671...|182901.99|
|[142107.34,91391....|166187.94|
+--------------------+---------+
only showing top 5 rows

In [16]:
# 3. Split data into training and test sets (25% held for testing)
train_data, test_data = df_vectorized.randomSplit([0.75, 0.25], seed=42)

# 4. Build a LinearRegression model
lr = LinearRegression(featuresCol="features", labelCol="Profit")
lr_model = lr.fit(train_data)

# 5. Perform predictions on test data and calculate MSE
predictions = lr_model.transform(test_data)
evaluator_mse = RegressionEvaluator(labelCol="Profit", predictionCol="prediction", metricName="mse")
mse = evaluator_mse.evaluate(predictions)

# 6. Calculate RMSE
evaluator_rmse = RegressionEvaluator(labelCol="Profit", predictionCol="prediction", metricName="rmse")
rmse = evaluator_rmse.evaluate(predictions)

print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")

Mean Squared Error (MSE): 170748867.93215483
Root Mean Squared Error (RMSE): 13067.091027927938