Using PySpark Dataframe or Spark-SQL libraries process the Dataframe to find out solutions

i. How many Institutions are included in the dataset? 
ii. How many Institutions from ‘India' are included in dataset?
iii. Print the average "Citations per Faculty" for universities located in 'India'?
iv. List Institutions where "International Students" percentage is 100 % along with their location ( "Location Full").

In [1]:
# imports
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, min, max, col

In [2]:
# 1. Stop any zombie sessions first
if 'spark' in locals():
    spark.stop()

# 2. Re-initialize a fresh session
spark = SparkSession.builder \
    .appName("InstitutionsAnalysis") \
    .master("local[*]") \
    .getOrCreate()

# Load the dataset
df = spark.read.csv("qs-world-rankings-2025.csv", header=True, inferSchema=True)

# Register as a Temp View for Spark-SQL
df.createOrReplaceTempView("institutions")

df.show(5)

+---------+---------+--------------------+--------+--------------+----+-------------------+-------------------+---------------+---------------------+---------------------+----------------------+------------------------------+-------------------+--------------+----------------+
|2025 Rank|2024 Rank|    Institution Name|Location| Location Full|Size|Academic Reputation|Employer Reputation|Faculty Student|Citations per Faculty|International Faculty|International Students|International Research Network|Employment Outcomes|Sustainability|QS Overall Score|
+---------+---------+--------------------+--------+--------------+----+-------------------+-------------------+---------------+---------------------+---------------------+----------------------+------------------------------+-------------------+--------------+----------------+
|        1|        1|Massachusetts Ins...|      US| United States|   M|              100.0|              100.0|          100.0|                100.0|                 99.3|                  86.8|                          96.0|              100.0|          99.0|             100|
|        2|        6|Imperial College ...|      UK|United Kingdom|   L|               98.5|               99.5|           98.2|                 93.9|                100.0|                  99.6|                          97.4|               93.4|          99.7|            98.5|
|        3|        3|University of Oxford|      UK|United Kingdom|   L|              100.0|              100.0|          100.0|                 84.8|                 98.1|                  97.7|                         100.0|              100.0|          85.0|            96.9|
|        4|        4|  Harvard University|      US| United States|   L|              100.0|              100.0|           96.3|                100.0|                 74.1|                  69.0|                          99.6|              100.0|          84.4|            96.8|
|        5|        2|University of Cam...|      UK|United Kingdom|   L|              100.0|              100.0|          100.0|                 84.6|                100.0|                  94.8|                          99.3|              100.0|          84.8|            96.7|
+---------+---------+--------------------+--------+--------------+----+-------------------+-------------------+---------------+---------------------+---------------------+----------------------+------------------------------+-------------------+--------------+----------------+
only showing top 5 rows

#### i. How many Institutions are included in the dataset?

In [3]:
df.count()

1503

#### ii. How many Institutions from ‘India' are included in dataset?

In [12]:
df.filter(df.Location == 'IN').count()

46

#### iii.Print the average "Citations per Faculty" for universities located in 'India'?

In [14]:
df.filter(df.Location == 'IN').select(avg("Citations per Faculty")).show()

+--------------------------+
|avg(Citations per Faculty)|
+--------------------------+
|         37.79130434782609|
+--------------------------+

#### iv. List Institutions where "International Students" percentage is 100 % along with their location ( "Location Full").

In [18]:
# Filtering for numeric 100
result = df.filter(df["International Students"] == 100) \
           .select("Institution Name", "Location Full")

# Displays all rows and shows the full text in every column
result.show(n=result.count(), truncate=False)

+----------------------------------------------------------+--------------------+
|Institution Name                                          |Location Full       |
+----------------------------------------------------------+--------------------+
|UCL                                                       |United Kingdom      |
|The University of Sydney                                  |Australia           |
|EPFL                                                      |Switzerland         |
|Monash University                                         |Australia           |
|The University of Queensland                              |Australia           |
|The London School of Economics and Political Science (LSE)|United Kingdom      |
|City University of Hong Kong                              |Hong Kong SAR       |
|University of St Andrews                                  |United Kingdom      |
|Hamad Bin Khalifa University                              |Qatar               |
|Maastricht University                                     |Netherlands         |
|Hong Kong Baptist University                              |Hong Kong SAR       |
|Universität Innsbruck                                     |Austria             |
|American University of Sharjah                            |United Arab Emirates|
|University of Luxembourg                                  |Luxembourg          |
|Technische Universität Bergakademie Freiberg              |Germany             |
|USI - Università della Svizzera italiana                  |Switzerland         |
|University of Sharjah                                     |United Arab Emirates|
|IE University                                             |Spain               |
|Macau University of Science and Technology                |Macau SAR           |
|Ajman University                                          |United Arab Emirates|
|American University of Ras Al Khaimah ( AURAK )           |United Arab Emirates|
|Canadian University Dubai                                 |United Arab Emirates|
|Al Ain University                                         |United Arab Emirates|
|Asia Pacific University of Technology and Innovation (APU)|Malaysia            |
|Eastern Mediterranean University                          |Northern Cyprus     |
|American University in Dubai                              |United Arab Emirates|
|University of Greenwich                                   |United Kingdom      |
|University of Westminster                                 |United Kingdom      |
|Al-Ahliyya Amman University                               |Jordan              |
|University of Hertfordshire                               |United Kingdom      |
|University of East London                                 |United Kingdom      |
|Islamic University of Madinah                             |Saudi Arabia        |
|London Metropolitan University                            |United Kingdom      |
+----------------------------------------------------------+--------------------+