Using PySpark Dataframe or Spark-SQL libraries process the Dataframe to find out solutions

i. How many Institutions are included in the dataset? 
ii. How many Institutions from ‘India' are included in dataset?
iii. Print the average "Citations per Faculty" for universities located in 'India'?
iv. List Institutions where "International Students" percentage is 100 % along with their location ( "Location Full").

In [1]:
# imports
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, min, max, col

In [2]:
# 1. Stop any zombie sessions first
if 'spark' in locals():
    spark.stop()

# 2. Re-initialize a fresh session
spark = SparkSession.builder \
    .appName("InstitutionsAnalysis") \
    .master("local[*]") \
    .getOrCreate()

# Load the dataset
df = spark.read.csv("qs-world-rankings-2025.csv", header=True, inferSchema=True)

# Register as a Temp View for Spark-SQL
df.createOrReplaceTempView("institutions")

df.show(5)

+---------+---------+--------------------+--------+--------------+----+-------------------+-------------------+---------------+---------------------+---------------------+----------------------+------------------------------+-------------------+--------------+----------------+
|2025 Rank|2024 Rank|    Institution Name|Location| Location Full|Size|Academic Reputation|Employer Reputation|Faculty Student|Citations per Faculty|International Faculty|International Students|International Research Network|Employment Outcomes|Sustainability|QS Overall Score|
+---------+---------+--------------------+--------+--------------+----+-------------------+-------------------+---------------+---------------------+---------------------+----------------------+------------------------------+-------------------+--------------+----------------+
|        1|        1|Massachusetts Ins...|      US| United States|   M|              100.0|              100.0|          100.0|                100.0|                 99.3|                  86.8|                          96.0|              100.0|          99.0|             100|
|        2|        6|Imperial College ...|      UK|United Kingdom|   L|               98.5|               99.5|           98.2|                 93.9|                100.0|                  99.6|                          97.4|               93.4|          99.7|            98.5|
|        3|        3|University of Oxford|      UK|United Kingdom|   L|              100.0|              100.0|          100.0|                 84.8|                 98.1|                  97.7|                         100.0|              100.0|          85.0|            96.9|
|        4|        4|  Harvard University|      US| United States|   L|              100.0|              100.0|           96.3|                100.0|                 74.1|                  69.0|                          99.6|              100.0|          84.4|            96.8|
|        5|        2|University of Cam...|      UK|United Kingdom|   L|              100.0|              100.0|          100.0|                 84.6|                100.0|                  94.8|                          99.3|              100.0|          84.8|            96.7|
+---------+---------+--------------------+--------+--------------+----+-------------------+-------------------+---------------+---------------------+---------------------+----------------------+------------------------------+-------------------+--------------+----------------+
only showing top 5 rows

#### i. How many Institutions are included in the dataset?

In [3]:
df.count()

1503

#### ii. How many Institutions from ‘India' are included in dataset?

In [12]:
df.filter(df.Location == 'IN').count()

46

#### iii.Print the average "Citations per Faculty" for universities located in 'India'?

In [14]:
df.filter(df.Location == 'IN').select(avg("Citations per Faculty")).show()

+--------------------------+
|avg(Citations per Faculty)|
+--------------------------+
|         37.79130434782609|
+--------------------------+

#### iv. List Institutions where "International Students" percentage is 100 % along with their location ( "Location Full").

In [18]:
# Filtering for numeric 100
result = df.filter(df["International Students"] == 100) \
           .select("Institution Name", "Location Full")

# Displays all rows and shows the full text in every column
result.show(n=result.count(), truncate=False)

+----------------------------------------------------------+--------------------+
|Institution Name                                          |Location Full       |
+----------------------------------------------------------+--------------------+
|UCL                                                       |United Kingdom      |
|The University of Sydney                                  |Australia           |
|EPFL                                                      |Switzerland         |
|Monash University                                         |Australia           |
|The University of Queensland                              |Australia           |
|The London School of Economics and Political Science (LSE)|United Kingdom      |
|City University of Hong Kong                              |Hong Kong SAR       |
|University of St Andrews                                  |United Kingdom      |
|Hamad Bin Khalifa University                              |Qatar               |
|Maastricht University                                     |Netherlands         |
|Hong Kong Baptist University                              |Hong Kong SAR       |
|Universität Innsbruck                                     |Austria             |
|American University of Sharjah                            |United Arab Emirates|
|University of Luxembourg                                  |Luxembourg          |
|Technische Universität Bergakademie Freiberg              |Germany             |
|USI - Università della Svizzera italiana                  |Switzerland         |
|University of Sharjah                                     |United Arab Emirates|
|IE University                                             |Spain               |
|Macau University of Science and Technology                |Macau SAR           |
|Ajman University                                          |United Arab Emirates|
|American University of Ras Al Khaimah ( AURAK )           |United Arab Emirates|
|Canadian University Dubai                                 |United Arab Emirates|
|Al Ain University                                         |United Arab Emirates|
|Asia Pacific University of Technology and Innovation (APU)|Malaysia            |
|Eastern Mediterranean University                          |Northern Cyprus     |
|American University in Dubai                              |United Arab Emirates|
|University of Greenwich                                   |United Kingdom      |
|University of Westminster                                 |United Kingdom      |
|Al-Ahliyya Amman University                               |Jordan              |
|University of Hertfordshire                               |United Kingdom      |
|University of East London                                 |United Kingdom      |
|Islamic University of Madinah                             |Saudi Arabia        |
|London Metropolitan University                            |United Kingdom      |
+----------------------------------------------------------+--------------------+

Using PySpark ML build a regression model, as questioned below.

i. Recreate the Dataframe by Dropping all the rows where 'QS Overall Score' is mention as '-' and also convert it as float type.
ii. Remove all the rows with any missing entry.
iii. Convert all string columns into numeric values using StringIndexer transformer and make sure now DataFrame does not have any string columns anymore.
iv. Using vectorAssembler combines all columns, except target column i.e. 'QS OverallScore', of spark DataFrame into single column (name it as features). Make sure DataFrame now contains only two columns, 'features' and 'QS Overall Score'.
v. Split the vectorised Dataframe into training and test sets with one fifth records being held for testing.
vi. Train default LinearRegression model with features as 'featuresCol' and ‘QS Overall Score’ as label on training set.
vii. Perform prediction on the testing data and Print RMSE value.

#### i. Recreate the Dataframe by Dropping all the rows where 'QS Overall Score' is mention as '-' and also convert it as float type.

In [20]:
from pyspark.sql.functions import col

# i. Drop rows where 'QS Overall Score' is '-' and convert to float
df_clean = df.filter(col("QS Overall Score") != "-") \
             .withColumn("QS Overall Score", col("QS Overall Score").cast("float"))

In [21]:
df_clean.show()

+---------+---------+--------------------+--------+----------------+----+-------------------+-------------------+---------------+---------------------+---------------------+----------------------+------------------------------+-------------------+--------------+----------------+
|2025 Rank|2024 Rank|    Institution Name|Location|   Location Full|Size|Academic Reputation|Employer Reputation|Faculty Student|Citations per Faculty|International Faculty|International Students|International Research Network|Employment Outcomes|Sustainability|QS Overall Score|
+---------+---------+--------------------+--------+----------------+----+-------------------+-------------------+---------------+---------------------+---------------------+----------------------+------------------------------+-------------------+--------------+----------------+
|        1|        1|Massachusetts Ins...|      US|   United States|   M|              100.0|              100.0|          100.0|                100.0|                 99.3|                  86.8|                          96.0|              100.0|          99.0|           100.0|
|        2|        6|Imperial College ...|      UK|  United Kingdom|   L|               98.5|               99.5|           98.2|                 93.9|                100.0|                  99.6|                          97.4|               93.4|          99.7|            98.5|
|        3|        3|University of Oxford|      UK|  United Kingdom|   L|              100.0|              100.0|          100.0|                 84.8|                 98.1|                  97.7|                         100.0|              100.0|          85.0|            96.9|
|        4|        4|  Harvard University|      US|   United States|   L|              100.0|              100.0|           96.3|                100.0|                 74.1|                  69.0|                          99.6|              100.0|          84.4|            96.8|
|        5|        2|University of Cam...|      UK|  United Kingdom|   L|              100.0|              100.0|          100.0|                 84.6|                100.0|                  94.8|                          99.3|              100.0|          84.8|            96.7|
|        6|        5| Stanford University|      US|   United States|   L|              100.0|              100.0|          100.0|                 99.0|                 70.3|                  60.8|                          96.8|              100.0|          81.2|            96.1|
|        7|        7|ETH Zurich - Swis...|      CH|     Switzerland|   L|               98.8|               87.2|           65.9|                 97.9|                100.0|                  98.6|                          95.7|               90.5|          98.8|            93.9|
|        8|        8|National Universi...|      SG|       Singapore|  XL|               99.5|               91.1|           68.8|                 93.1|                100.0|                  88.9|                          91.6|              100.0|          97.7|            93.7|
|        9|        9|                 UCL|      UK|  United Kingdom|  XL|               99.5|               98.3|           95.9|                 72.2|                 99.0|                 100.0|                          99.9|               70.3|          74.8|            91.6|
|       10|       15|California Instit...|      US|   United States|   S|               96.5|               95.3|          100.0|                100.0|                100.0|                  79.8|                          65.5|               31.0|          62.5|            90.9|
|       11|       12|University of Pen...|      US|   United States|   L|               96.3|               91.9|           99.8|                 74.0|                 90.9|                  66.2|                          91.9|              100.0|          93.0|            90.3|
|       12|       10|University of Cal...|      US|   United States|  XL|              100.0|              100.0|           23.5|                 98.2|                 91.5|                  61.0|                          97.2|               98.4|         100.0|            90.1|
|       13|       14|The University of...|      AU|       Australia|  XL|               98.5|               93.9|           15.4|                 93.0|                 95.1|                  99.8|                          97.4|               96.5|          99.6|            88.9|
|       14|       17|   Peking University|      CN|China (Mainland)|  XL|               99.5|               96.6|           92.6|                 97.7|                 50.3|                  23.6|                          79.8|               94.2|          46.9|            88.5|
|       15|       26|Nanyang Technolog...|      SG|       Singapore|   L|               91.9|               73.3|           80.6|                 92.4|                100.0|                  83.5|                          89.4|               83.9|          95.6|            88.4|
|       16|       13|  Cornell University|      US|   United States|   L|               98.3|               93.1|           52.7|                 97.5|                 54.2|                  63.4|                          94.0|               97.1|          72.1|            87.9|
|       17|       26|The University of...|      HK|   Hong Kong SAR|   L|               97.4|               59.4|           81.2|                 86.4|                100.0|                  99.3|                          81.4|               99.7|          89.2|            87.6|
|       18|       19|The University of...|      AU|       Australia|  XL|               96.4|               90.0|           10.9|                 93.7|                 99.9|                 100.0|                          95.8|               93.1|          99.6|            87.3|
|       19|       19|The University of...|      AU|       Australia|  XL|               90.5|               90.4|           20.6|                 94.9|                100.0|                  99.4|                          98.3|               97.7|          99.2|            87.1|
|       20|       25| Tsinghua University|      CN|China (Mainland)|  XL|               99.2|               97.7|           95.0|                 99.1|                 18.1|                  13.4|                          79.2|               92.3|          40.4|            86.5|
+---------+---------+--------------------+--------+----------------+----+-------------------+-------------------+---------------+---------------------+---------------------+----------------------+------------------------------+-------------------+--------------+----------------+
only showing top 20 rows

#### ii. Remove all the rows with any missing entry.

In [31]:
df_no_missing = df_clean.dropna()
df_no_missing.show()

+---------+---------+--------------------+--------+----------------+----+-------------------+-------------------+---------------+---------------------+---------------------+----------------------+------------------------------+-------------------+--------------+----------------+
|2025 Rank|2024 Rank|    Institution Name|Location|   Location Full|Size|Academic Reputation|Employer Reputation|Faculty Student|Citations per Faculty|International Faculty|International Students|International Research Network|Employment Outcomes|Sustainability|QS Overall Score|
+---------+---------+--------------------+--------+----------------+----+-------------------+-------------------+---------------+---------------------+---------------------+----------------------+------------------------------+-------------------+--------------+----------------+
|        1|        1|Massachusetts Ins...|      US|   United States|   M|              100.0|              100.0|          100.0|                100.0|                 99.3|                  86.8|                          96.0|              100.0|          99.0|           100.0|
|        2|        6|Imperial College ...|      UK|  United Kingdom|   L|               98.5|               99.5|           98.2|                 93.9|                100.0|                  99.6|                          97.4|               93.4|          99.7|            98.5|
|        3|        3|University of Oxford|      UK|  United Kingdom|   L|              100.0|              100.0|          100.0|                 84.8|                 98.1|                  97.7|                         100.0|              100.0|          85.0|            96.9|
|        4|        4|  Harvard University|      US|   United States|   L|              100.0|              100.0|           96.3|                100.0|                 74.1|                  69.0|                          99.6|              100.0|          84.4|            96.8|
|        5|        2|University of Cam...|      UK|  United Kingdom|   L|              100.0|              100.0|          100.0|                 84.6|                100.0|                  94.8|                          99.3|              100.0|          84.8|            96.7|
|        6|        5| Stanford University|      US|   United States|   L|              100.0|              100.0|          100.0|                 99.0|                 70.3|                  60.8|                          96.8|              100.0|          81.2|            96.1|
|        7|        7|ETH Zurich - Swis...|      CH|     Switzerland|   L|               98.8|               87.2|           65.9|                 97.9|                100.0|                  98.6|                          95.7|               90.5|          98.8|            93.9|
|        8|        8|National Universi...|      SG|       Singapore|  XL|               99.5|               91.1|           68.8|                 93.1|                100.0|                  88.9|                          91.6|              100.0|          97.7|            93.7|
|        9|        9|                 UCL|      UK|  United Kingdom|  XL|               99.5|               98.3|           95.9|                 72.2|                 99.0|                 100.0|                          99.9|               70.3|          74.8|            91.6|
|       10|       15|California Instit...|      US|   United States|   S|               96.5|               95.3|          100.0|                100.0|                100.0|                  79.8|                          65.5|               31.0|          62.5|            90.9|
|       11|       12|University of Pen...|      US|   United States|   L|               96.3|               91.9|           99.8|                 74.0|                 90.9|                  66.2|                          91.9|              100.0|          93.0|            90.3|
|       12|       10|University of Cal...|      US|   United States|  XL|              100.0|              100.0|           23.5|                 98.2|                 91.5|                  61.0|                          97.2|               98.4|         100.0|            90.1|
|       13|       14|The University of...|      AU|       Australia|  XL|               98.5|               93.9|           15.4|                 93.0|                 95.1|                  99.8|                          97.4|               96.5|          99.6|            88.9|
|       14|       17|   Peking University|      CN|China (Mainland)|  XL|               99.5|               96.6|           92.6|                 97.7|                 50.3|                  23.6|                          79.8|               94.2|          46.9|            88.5|
|       15|       26|Nanyang Technolog...|      SG|       Singapore|   L|               91.9|               73.3|           80.6|                 92.4|                100.0|                  83.5|                          89.4|               83.9|          95.6|            88.4|
|       16|       13|  Cornell University|      US|   United States|   L|               98.3|               93.1|           52.7|                 97.5|                 54.2|                  63.4|                          94.0|               97.1|          72.1|            87.9|
|       17|       26|The University of...|      HK|   Hong Kong SAR|   L|               97.4|               59.4|           81.2|                 86.4|                100.0|                  99.3|                          81.4|               99.7|          89.2|            87.6|
|       18|       19|The University of...|      AU|       Australia|  XL|               96.4|               90.0|           10.9|                 93.7|                 99.9|                 100.0|                          95.8|               93.1|          99.6|            87.3|
|       19|       19|The University of...|      AU|       Australia|  XL|               90.5|               90.4|           20.6|                 94.9|                100.0|                  99.4|                          98.3|               97.7|          99.2|            87.1|
|       20|       25| Tsinghua University|      CN|China (Mainland)|  XL|               99.2|               97.7|           95.0|                 99.1|                 18.1|                  13.4|                          79.2|               92.3|          40.4|            86.5|
+---------+---------+--------------------+--------+----------------+----+-------------------+-------------------+---------------+---------------------+---------------------+----------------------+------------------------------+-------------------+--------------+----------------+
only showing top 20 rows

#### iii. Convert all string columns into numeric values using StringIndexer transformer and make sure now DataFrame does not have any string columns anymore.

In [48]:
from pyspark.ml.feature import StringIndexer
from pyspark.sql.types import StringType

# Identify string columns for indexing
string_cols = [field.name for field in df_no_missing.schema.fields 
               if isinstance(field.dataType, StringType) and field.name != "QS Overall Score"]

# Apply StringIndexer to each and drop original string columns
df_step3 = df_no_missing
for c in string_columns:
    indexer = StringIndexer(inputCol=c, outputCol=c + "_idx")
    df_step3 = indexer.fit(df_step3).transform(df_step3)

# Remove all old string columns
df_step3 = df_step3.drop(*string_cols)

In [49]:
# display the result
df_step3.show()

+-------------------+-------------------+---------------+---------------------+---------------------+----------------------+------------------------------+-------------------+--------------+----------------+
|Academic Reputation|Employer Reputation|Faculty Student|Citations per Faculty|International Faculty|International Students|International Research Network|Employment Outcomes|Sustainability|QS Overall Score|
+-------------------+-------------------+---------------+---------------------+---------------------+----------------------+------------------------------+-------------------+--------------+----------------+
|              100.0|              100.0|          100.0|                100.0|                 99.3|                  86.8|                          96.0|              100.0|          99.0|           100.0|
|               98.5|               99.5|           98.2|                 93.9|                100.0|                  99.6|                          97.4|               93.4|          99.7|            98.5|
|              100.0|              100.0|          100.0|                 84.8|                 98.1|                  97.7|                         100.0|              100.0|          85.0|            96.9|
|              100.0|              100.0|           96.3|                100.0|                 74.1|                  69.0|                          99.6|              100.0|          84.4|            96.8|
|              100.0|              100.0|          100.0|                 84.6|                100.0|                  94.8|                          99.3|              100.0|          84.8|            96.7|
|              100.0|              100.0|          100.0|                 99.0|                 70.3|                  60.8|                          96.8|              100.0|          81.2|            96.1|
|               98.8|               87.2|           65.9|                 97.9|                100.0|                  98.6|                          95.7|               90.5|          98.8|            93.9|
|               99.5|               91.1|           68.8|                 93.1|                100.0|                  88.9|                          91.6|              100.0|          97.7|            93.7|
|               99.5|               98.3|           95.9|                 72.2|                 99.0|                 100.0|                          99.9|               70.3|          74.8|            91.6|
|               96.5|               95.3|          100.0|                100.0|                100.0|                  79.8|                          65.5|               31.0|          62.5|            90.9|
|               96.3|               91.9|           99.8|                 74.0|                 90.9|                  66.2|                          91.9|              100.0|          93.0|            90.3|
|              100.0|              100.0|           23.5|                 98.2|                 91.5|                  61.0|                          97.2|               98.4|         100.0|            90.1|
|               98.5|               93.9|           15.4|                 93.0|                 95.1|                  99.8|                          97.4|               96.5|          99.6|            88.9|
|               99.5|               96.6|           92.6|                 97.7|                 50.3|                  23.6|                          79.8|               94.2|          46.9|            88.5|
|               91.9|               73.3|           80.6|                 92.4|                100.0|                  83.5|                          89.4|               83.9|          95.6|            88.4|
|               98.3|               93.1|           52.7|                 97.5|                 54.2|                  63.4|                          94.0|               97.1|          72.1|            87.9|
|               97.4|               59.4|           81.2|                 86.4|                100.0|                  99.3|                          81.4|               99.7|          89.2|            87.6|
|               96.4|               90.0|           10.9|                 93.7|                 99.9|                 100.0|                          95.8|               93.1|          99.6|            87.3|
|               90.5|               90.4|           20.6|                 94.9|                100.0|                  99.4|                          98.3|               97.7|          99.2|            87.1|
|               99.2|               97.7|           95.0|                 99.1|                 18.1|                  13.4|                          79.2|               92.3|          40.4|            86.5|
+-------------------+-------------------+---------------+---------------------+---------------------+----------------------+------------------------------+-------------------+--------------+----------------+
only showing top 20 rows

#### iv. Using vectorAssembler combines all columns, except target column i.e. 'QS OverallScore', of spark DataFrame into single column (name it as features). Make sure DataFrame now contains only two columns, 'features' and 'QS Overall Score'.

In [50]:
from pyspark.ml.feature import VectorAssembler

# Get all columns except the target
feature_cols = [c for c in df_step3.columns if c != "QS Overall Score"]

assembler = VectorAssembler(inputCols=feature_cols, outputCol="features")
df_features = assembler.transform(df_step3).select("features", "QS Overall Score")

# Display proof of two columns
df_features.show(5)

+--------------------+----------------+
|            features|QS Overall Score|
+--------------------+----------------+
|[100.0,100.0,100....|           100.0|
|[98.5,99.5,98.2,9...|            98.5|
|[100.0,100.0,100....|            96.9|
|[100.0,100.0,96.3...|            96.8|
|[100.0,100.0,100....|            96.7|
+--------------------+----------------+
only showing top 5 rows

#### v. Split the vectorised Dataframe into training and test sets with one fifth records being held for testing.

In [51]:
train_set, test_set = df_features.randomSplit([0.8, 0.2], seed=42)

#### vi. Train default LinearRegression model with features as 'featuresCol' and ‘QS Overall Score’ as label on training set.

In [52]:
from pyspark.ml.regression import LinearRegression

# Initialize and train the model
lr = LinearRegression(featuresCol="features", labelCol="QS Overall Score")
lr_model = lr.fit(train_set)

#### vii. Perform prediction on the testing data and Print RMSE value.

In [53]:
from pyspark.ml.evaluation import RegressionEvaluator

# Make predictions
predictions = lr_model.transform(test_set)

# Evaluate the results
evaluator = RegressionEvaluator(labelCol="QS Overall Score", 
                                predictionCol="prediction", 
                                metricName="rmse")

rmse = evaluator.evaluate(predictions)
print(f"Root Mean Squared Error (RMSE): {rmse}")

Root Mean Squared Error (RMSE): 0.029073879251616835